@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenido-construccion {
    text-align: center;
    margin: 5rem;
}

.construccion-galeria {
    display: grid;
    padding-top: 2rem;
    .galeria-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 3rem;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            
            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}