@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer {
    font-size: 2rem;
    font-weight: 500;
    background-color: v.$marron;
    height: 7rem;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    p {
        margin: auto auto;
    }
}